<app-main-carousel></app-main-carousel>
<section class="section main">
  <div class="container" style="padding-bottom: 2em;">
    <div class="columns">
      <app-main-latest-news class="column is-two-thirds"></app-main-latest-news>
      <app-main-top-games class="column is-one-third"></app-main-top-games>
    </div>
  </div>
  <app-main-hero-youtube></app-main-hero-youtube>
  <div class="container" style="padding-top: 2em;">
    <div class="columns">
      <app-main-news class="column is-full-mobile is-two-thirds-desktop"></app-main-news>
      <app-main-reviews class="column is-full-mobile is-one-thirds-desktop"></app-main-reviews>
    </div>
  </div>
</section>
